#div-body {
    justify-content: center;  text-align: center;
    justify-items: center;
    height: 570px;
}

#username {
    width: 290px;
    height: 33px;
    margin-top: 10px; border-style: solid; border-radius: 5px; border-width: 1px; border-color: rgb(205, 203, 203);
}

#password {
    width: 290px;
    height: 33px;  
    margin-top: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(205, 203, 203);
}

#div-border {
    width: 405px;
    border-style: solid; border-radius: 5px; border-color: rgb(205, 203, 203);
    border-width: 1px;
}

#div-login {
    width: 388px;
    height: 605px;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

#login-btn {
    border-radius: 50px; border: none; cursor: pointer;
    height: 35px;
    width: 290px; background-color: #2192FF; color: white; margin-top: 19px; margin-bottom: 30px; font-size: 16px;
}