.well-font{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

.form-shape {
    width: 660px;
    height: 36px;  
    margin-top: 10px; border-style: solid; border-radius: 5px; border-width: 1px; border-color: rgb(205, 203, 203);
}

.form-textarea {
    width: 660px;
    height: 100px;  
    margin-top: 10px; border-style: solid; border-radius: 5px; border-width: 1px; border-color: rgb(205, 203, 203);
}

#category {
    margin-right: 30px; margin-top: 20px; width: 30%; height: 30px; border: 1px solid; 
}


#add_val {
    margin-right: 30px; margin-top: 10px; width: 30%; height: 35px; border: 1px solid; border-color: rgb(205, 203, 203); border-radius: 5px;
}


#save-btn {
    border-radius: 10px; border: none; cursor: pointer;
    height: 35px;
    width: 90px; background-color: #7ECA9C; color: white; margin-top: 40px; margin-bottom: 30px; font-size: 16px;
}

#back-btn {
    float: right;
    margin-top: 39px;
    margin-right: 30px;
    text-decoration: none;
    background-color: rgb(179, 179, 179);
    padding: 1.2% 2%;
    color: white;
    border-radius: 10px;
}