#div-body {
    justify-content: center;
    text-align: center;
    justify-items: center;
    height: 760px;
}

.space {
    margin-bottom: 25px;
}

#div-border {
    width: 465px;
    height: 670px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(205, 203, 203);
    border-width: 1px;
}

#div-signup {
    width: 450px;
    height: 600px;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

form {
    height: 555px;
}

.form-shape {
    width: 340px;
    height: 35px;  
    margin-top: 10px; border-style: solid; border-radius: 5px; border-width: 1px; border-color: rgb(205, 203, 203); font-size: 17px;
}

#signup-btn {
    border-radius: 50px; border: none; cursor: pointer;
    height: 35px;
    width: 290px; background-color: #2192FF; color: white; margin-top: 7px; margin-bottom: 30px; font-size: 16px;
}

#back-btn {
    border-radius: 50px; border: none; cursor: pointer;
    height: 35px;
    width: 290px; background-color: #EEEEEE; color: black; margin-top: 15px; margin-bottom: 30px; font-size: 16px;
}

#gender {
    width: 150px;
    height: 28px;
    z-index:1;
}