<div id="editComment-div">
    <h4 style="margin-left: 20px; font-size: 22px;">RE: <%= article.title %></h4>
    <div>
        <textarea required name="post" id="post_text" placeholder="댓글을 작성하시오." style="margin-bottom: 30px;"><%= comment.post %></textarea>
        <div id="save-div" style="margin-bottom: 50px;">
            <input type="submit" id="save-btn" class="save-btn" value="Save">
        </div>
    </div>
</div>