<!-- <div style="background-color: #DFF6FF; height:75px;"> -->
<div style="background-color: white; height:75px; margin-bottom: 30px;">
    <div style="float:left; margin-top: 7px; margin-left: 10px;">
        <img src="/images/blog-logo-text.png" alt="logos" style="width:30%" class="ml-4">
    </div>
    <div style="margin-right: 20px;">
        <input type="button" id="login-btn" style="float:right; border-radius: 50px; border: none; cursor: pointer; height: 35px; width:80px; background-color: lightseagreen; color: white; margin-top: 19px; margin-right: 10px; font-size: 16px;" value="Login" onclick="toLogin()">
        
        <input type="button" id="account-btn" style="float:right; border-radius: 50px; border: none; cursor: pointer; height: 35px; width:80px; background-color: lightcoral; color: white; margin-top: 19px; margin-right: 10px; font-size: 16px;" value="Account" onclick="toAccount()">

        <div style="float:right; justify-content: center;">
            <div style="float:left; margin-right: 37px; margin-top: 27px">
              <a href="/" style="text-decoration: none; color: #2192FF; font-weight: 600" onclicked="clicked()">Home</a>
            </div>
            <div style="float:left; margin-right: 32px; margin-top: 27px">
              <a href="#" style="text-decoration: none; color: #2192FF; font-weight: 600">Menu1</a>
            </div>
            <div style="float:left; margin-right: 28px; margin-top: 27px">
              <a href="#" style="text-decoration: none; color: #2192FF; font-weight: 600">Menu2</a>
            </div>
            <div style="float:left; margin-right: 25px; margin-top: 27px">
              <a href="#" style="text-decoration: none; color: #2192FF; font-weight: 600">Settings</a>
            </div>
          </div>
    </div>
</div>