<div style="background-color: #fffefd; height:75px; margin-bottom: 30px;">
    <div style="float:left; margin-top: 0px; margin-left: 10px; width: 300px;">
        <!-- <a href="/"><img src="/images/blog-logo-text.png" alt="logos" style="width:40%; cursor: pointer;" class="ml-4"></a> -->
        <a href="/" style="text-decoration: none; color: black;"><h2 style="width:40%; cursor: pointer; text-decoration: none;">myblogg.com</h2></a>
    </div>
    <div style="margin-right: 20px;">
        <input type="button" id="login-btn" value="Login" onclick="toLogin()">
        
        <input type="button" id="logout-btn" value="Logout" onclick="toLogout()">

        <div id="nav">
            <div class="nav-style" id="profile-nav">
              <a href="/profile/<%= userid %>" class="nav-text">Profile</a>
            </div>
            <div id="dropdown" class="dropdown" style="margin-right: 20px;">
              <i class="fas fa-search dropbtn" onclick="myFunction()"></i>
              <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="search">
                <button id="searchIcon" onclick="whenClicked()">Go</button>
              </div>
            </div>
          </div>
    </div>
</div>