<div style="background-color: #DFF6FF; height:75px;">
    <div class="mt-3 ml-2" style="float:left">
        <!-- <img src="./image/blog-logo.png" alt="logos" class="ml-5"> -->
        <h2 class="ml-4">BLOGG</h2>
    </div>
    <div class="mr-4">
        <input type="button" id="login-btn" style="float:right; border-radius: 50px; border: none; cursor: pointer; height: 35px; width:70px; background-color: lightseagreen; color: white; margin-top: 19px" class="mr-2" value="Login" onclick="toLogin()">
        <input type="button" id="account-btn" style="float:right; border-radius: 50px; border: none; cursor: pointer; height: 35px; width:70px; background-color: lightseagreen; color: white; margin-top: 19px" class="mr-2" value="Account">
        <ul style="float:right;" class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active mr-2 mt-3" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-2 mt-3" href="#">Menu1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-2 mt-3" href="#">Menu2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled mt-3 mr-3" href="#">Menu2</a>
            </li>
        </ul>
    </div>
</div>