<div style="background-color: #fffefd; height:75px; margin-bottom: 30px;">
    <div style="float:left; margin-top: 0px; margin-left: 10px; width: 300px;">
        <!-- <a href="/"><img src="/images/blog-logo-text.png" alt="logos" style="width:40%; cursor: pointer;" class="ml-4"></a> -->
        <a href="/" style="text-decoration: none; color: black;"><h2 style="width:40%; cursor: pointer; text-decoration: none;">myblogg.com</h2></a>
    </div>
    <div style="margin-right: 20px;">
        <input type="button" id="login-btn" value="Login" onclick="toLogin()">
        
        <input type="button" id="account-btn" value="Account" onclick="toAccount()">

        <div id="nav">
            <div class="nav-style">
              <a href="#" class="nav-text">Menu1</a>
            </div>
            <div class="nav-style">
              <a href="#" class="nav-text">Menu2</a>
            </div>
            <div style="float:left; margin-right: 27px; margin-top: 25px">
              <a href="#" class="nav-text">Menu3</a>
            </div>
            <div id="dropdown" class="dropdown" style="margin-right: 20px;">
              <i class="fas fa-search dropbtn" onclick="myFunction()"></i>
              <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="search">
                <button id="thisbtn" onclick="whenClicked()"><i class="fas fa-search" id="searchIcon"></i></button>
              </div>
            </div>
          </div>
    </div>
</div>